body{
    margin: 0;
    background-color: rgb(180, 180, 180);
    font-family:'Courier New', Courier, monospace;

}


.container{
    max-width: 1300px;
    margin: auto;

    background-color: blue;
    box-shadow: 0 0 10px #aaa;

    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 5% 50% 5%;
    grid-template-areas: 
    "header"    
    "main"
    "main"
    "footer"
    ;
}

.container > header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container > main {
    grid-area: main;
    background-color: #fff;
}

.apod-section{
    background-color: blueviolet;
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.apod-article{
    margin-bottom: 1%;
    width: 33%;
    
    box-sizing: border-box;
    box-shadow: 0 0 5px #999;
    border: 5px solid white;
    
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
    "apod-header"
    "apod-img"
    "apod-explanation"
    ;
}
.apod-header{
    grid-area: apod-header;
    text-align: center;
    font-size: large;
    max-width: 80%;    
}

.apod-img{
    grid-area: apod-img;
    max-height: 100%;
    max-width: 100%;
    
}
.apod-explanation{
    grid-area: apod-explanation;
    height: 100%;
    width: 100%;
    font-size: x-large;
    
}

footer {
    grid-area: footer;
    text-align: center;
    font-size: 18px;
    color: #eee;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
