body{
    background-color: rgb(180, 180, 180);
    font-family:'Courier New', Courier, monospace;

}

#root > .container{
    max-width: 1300px;
    margin: 0;

    background-color: blue;
    box-shadow: 0 0 10px #aaa;

    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 10vh 85vh 5vh;
    grid-template-areas: 
    "header"    
    "main"
    "footer"
    ;
}

.container > header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container > main {
    grid-area: main;
    background-color: #fff;
}

.apod-section{
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.apod-article{
    margin: 10px 0;
    width: 32%;
    box-sizing: border-box;
    box-shadow: 0 0 5px #999;
    border: 5px solid white;
}

.apod-img{
    max-width: 100%;    
}
